@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

/* === */

.react-multiple-carousel__arrow--left {
  left: 0 !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
}

.es-btn-overlay-1:hover .es-overlay-1 {
  height: 40px;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.es-overlay-1 {
  transition: all 0.3s ease-out;
  height: 0;
  opacity: 0;
}

a {
  color: #888;
}

a:hover {
  color: #333;
}

a:active,
a:focus {
  color: #000;
}

.es-bg-1 {
  background-color: #e387c8;
}

/* == */

.btn-bt-box-1 {
  background-color: #eee;
  position: relative;
}

.btn-bt-box-1:focus {
  background-color: #fff;
  box-shadow: 0 0 0 0.05rem #666;
  transition: all 0.3s ease;
}

.btn-bt-box-1:hover .bt-box-1__item {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.btn-bt-box-1:focus .bt-box-1__item {
  opacity: 1;
  transition: all 0.3s ease;
}

.bt-box-1__item {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.bt-box-1__item .fa-xs {
  font-size: 0.6em;
}

.moveOrderBox {
  position: fixed;
  top: unset;
  left: unset;
  right: unset;
  width: 210px;
  z-index: 1030;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 992px) {
  .moveOrderBox {
    position: unset !important;
    width: 100%;
  }
}
